footer
  .uk-container.uk-container-center.uk-text-center
    .copyright.social-links
      ul.uk-subnav.uk-subnav-line
        li
          a(href='https://www.twitter.com/whuxleyvan', target='_blank')
            i.uk-icon-twitter
        li
          a(href='https://www.facebook.com/gregory.tandiono', target='_blank')
            i.uk-icon-facebook
        li
          a(href='https://github.com/whuxley', target='_blank')
            i.uk-icon-github-alt
      | Copyright 2013 Winston Huxley. This Site is powered by Node.Js.
      br
      | Custom Development by Gregory Tandiono
    //



       //- Main Content Ends Here 
script(src=locals.assets[9].url)
script(src=locals.assets[10].url)
script(src=locals.assets[13].url)
script(src=locals.assets[11].url)
script(src=locals.assets[12].url)