head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
        block title
            = page.title
    meta(name='description', content='Gregory Tandiono is a Developer for the Web currently living in Vancouver, BC.')
    meta(name='keywords', content='Gregory Tandiono, Web Developer, Web Design, Web Design Vancouver, Node Developer, Ruby on Rails')
    meta(name='author', content='Gregory Tandiono | Winston Huxley')
    link(rel='shortcut icon', href=locals.favicon[0].url)
    link(rel='stylesheet', type='text/css', href=locals.assets[0].url)
    link(rel='stylesheet', type='text/css', href=locals.assets[1].url)
    link(rel='stylesheet', type='text/css', href=locals.assets[2].url)
    link(rel='stylesheet', type='text/css', href=locals.assets[4].url)
    script(src=locals.assets[5].url)
    script(src=locals.assets[6].url)
    script(src=locals.assets[7].url)
    script(src=locals.assets[8].url)