ul#gn-menu.gn-menu-main
        li.gn-trigger
          a.gn-icon.gn-icon-menu
            span Menu
          nav.gn-menu-wrapper
            .gn-scroller
              ul.gn-menu
                li
                  a.gn-icon.gn-icon-help(href=locals.nav[0].url) #{locals.nav[0].name}
                li
                  a.gn-icon.gn-icon-archive(href=locals.nav[1].url) #{locals.nav[1].name}
                li
                  a.gn-icon.gn-icon-cog(href=locals.nav[2].url) #{locals.nav[2].name}
                li
                  a.gn-icon.gn-icon-earth(href=locals.nav[3].url) #{locals.nav[3].name}
                li
                  a.gn-icon.gn-icon-article(href=locals.nav[4].url) #{locals.nav[4].name}
            //
               /gn-scroller 
        li
          a(href='http://greg.winstonhuxley.com') G.Tandiono.
        li.uk-hidden-small
          a.codrops-icon.codrops-icon-prev(href='http://www.winstonhuxley.com', target='_blank')
            span Winston Huxley